.chat-main
  .chat-main-top
    .chat-main-top__left-over
      = @group.name
      .chat-main-top__left-under
        MENBER:
        - @group.users.each do |user| 
          = user.name
  
    .chat-main-top__right
      = link_to edit_group_path(@group) do
        Edit

  .chat-main-middle
    = render @messages


  .chat-main-bottom
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      = f.label :image, class: 'form__mask__image' do
        = icon('fa', 'image', class: 'icon')
        = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'